<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include = "~{/fragments/head}"></th:block>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <th:block th:include = "~{/fragments/nav}"></th:block>
	</nav>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Item</span></h1>
    <hr class="hr-3"/>
    <form class="mx-auto w-25 bg-dark p-3 rounded text-center" th:action="@{/items/add}" th:method="POST" th:object="${itemAddBindingModel}">
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label  for="name" class="h4 mb-2">Name</label>
            </div>
            <input th:errorclass="alert-danger" th:field="*{name}" type="text" class="form-control" id="name" name="name" />
            <small th:each="e :${#fields.errors('name')}"  th:text="${e}" class="text-danger">Incorrect name!</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label  for="description" class="h4 mb-2">Description</label>
            </div>
            <input th:errorclass="alert-danger" th:field="*{description}" type="text" class="form-control" id="description" name="description"/>
            <small th:each="e :${#fields.errors('description')}" th:text="${e}" class="text-danger">Incorrect description</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label   for="category" class="h4 mb-2">Category</label>
            </div>
            <select class="browser-default custom-select" id="category" name="category">
                <option value="">Select category</option>
                <option th:each="o : ${T(online_shop.app.models.entity.CategoryName).values()}"
                      th:text="${o}" th:value="${o}">Shirt</option>
            </select>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label  for="gender" class="h4 mb-2">Gender</label>
            </div>
            <select class="browser-default custom-select" id="gender" name="gender" >
                <option value="">Select gender</option>
                <option th:each="g : ${T(online_shop.app.models.entity.GenderType).values()}"
                        th:text="${g}" th:value="${g}"></option>
            </select>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="price" class="h4 mb-2">Price</label>
            </div>
            <input th:errorclass="alert-danger" th:field="*{price}" type="number" class="form-control" id="price" name="price"/>
            <small th:each="e :${#fields.errors('price')}" class="text-danger">Incorrect price!</small>
        </div>
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-secondary text-white mb-3">Add Item</button>
        </div>
    </form>
</main>
<footer class="footer bg-dark  py-2">
    <th:block th:include = "~{/fragments/footer}"></th:block>
</footer>
</body>
</html>
